.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}
